body{
    background-image: url(https://imagenes.20minutos.es/files/image_990_v3/uploads/imagenes/2018/04/24/185019.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


